@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --Red-c: hsl(0, 100%, 74%);
  /* primary text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* background gradient */
  --Soft-violet: #af67e9;
  --Soft-blue: #6565e7;
  /* text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(to left bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72vh;
    width: 90%;
    background-color: #fff;
    margin: 10rem auto 1rem auto;
    border-radius: 16px;
}

#womanDesk {
    display: none;
}

#pattern-bg {
    display: none;
}

#boxDesk {
    display: none;
}

.faq {
    height: 55%; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.faq h1 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.faqimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25%;
}

#mobile-woman {
    width: 80%;
    position: absolute;
    z-index: 2;
    top: -11rem;
}

#mobileShadow {
    position: absolute;
    top: -4rem;
    width: 80%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question img {
    width: 0.8rem;
    height: 0.75rem;
}

.answer {
    display: none;
}

.faq ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 100%;
  height: 80%;
  list-style: none;
}

li {
    border-bottom: 1px solid var(--Very-dark-desaturated-blue);
    padding: 0.25rem;
}