@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --Red-c: hsl(0, 100%, 74%);
  /* primary text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* background gradient */
  --Soft-violet: #af67e9;
  --Soft-blue: #6565e7;
  /* text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(to left bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88vh;
    width: 90%;
    background-color: #fff;
    margin: 10rem auto 1rem auto;
}

.faq {
    height: 55%; 
    padding: 1rem; 
}

.faqimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#mobile-woman {
    width: 80%;
    margin-top: -19rem;
}